.container {
  align-items: stretch;
  display: flex;
  margin: 1em;
  justify-content: space-between;
}
.card {
  min-width: 30%;
  color: var(--mdc-theme-primary);
}
.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}
.transforms {
  font-style: italic;
  border-top: 2px solid var(--txt-color);
  flex-grow: 1;
  text-align: center;
  margin: 0 1em;
  align-self: center;
}
.arrow {
  --arrow-size: 15px;
  --arrow-color: var(--txt-color);
  --translation: calc(-1 * var(--arrow-size) + 3px);
  border-right: 2px solid var(--arrow-color);
  border-top: 2px solid var(--arrow-color);
  display: inline-block;
  height: var(--arrow-size);
  margin-left: 100%;
  transform: rotate(45deg) translateX(var(--translation));
  width: var(--arrow-size);
}
